# Files from build
**/*.o
**/*.s
src/.depend

# Built binary
src/stockfish*
src/-lstdc++.res

# Neural network for the NNUE evaluation
**/*.nnue

src/BuildScores.CSV
makefish.sh
compile.sh
sync-official.sh
